{% extends "layout.html" %}
{% block title %} Boerenbridge online {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="settingsModal" class="modal">
        <!-- maybe change to save button instead of close button -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeWin()">&times;</a>
        <!-- Header here -->
        <div class="modalcontent">
            <!-- Content when I know what to put here -->
        </div>
    </div>
    <div>
        <button class="btn" id="info" onclick="openNav()"><i class="fa-sharp fa-solid fa-circle-info"></i></button>
        <button class="btn" id="gear" onclick="openWin()"><i class="fa-sharp fa-solid fa-gear"></i></button>
    </div>
    <div id="container">
        <a href="{{ url_for('index')}}"><h1>Boerenbridge</h1></a>
        <div>
            <div>
                <input type="text" id="player-name" placeholder="Enter your name">
            </div>
            <form id="create-room-form">
                <input type="text" id="room-id-input" placeholder="Create game code">
                <input type="submit" class="btn" value="Create Game">
            </form>
            <div>
                <p>Change game settings with the icon in the top left!</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
        <script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}