{% extends "layout.html" %}
{% block title %} Boerenbridge online {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div>
        <button class="btn" id="info" onclick="openNav()"><i class="fa-sharp fa-solid fa-circle-info"></i></button>
    </div>
    <div id="container">
        <h1>Boerenbridge</h1>
        <div>
            <input type="text" id="player-name" placeholder="Enter your name">
        </div>
        <div>
            <form id="join-room-form">
                <input type="text" id="room-id-input" placeholder="Enter game code">
                <input type="submit" class="btn" value="Join Game">
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/join.js') }}"></script>
{% endblock %}
{% block footer %}
    <div id="footerContainer">
        <a href="/admin">
            <button class="btn" id="createButton">Create a Game </button>
        </a>
    </div>
{% endblock %}