@import url('https://fonts.googleapis.com/css?family=Nabla');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    background-color: #35654d
}

h1 {
    font-family: 'Nabla';
    font-size: 80px;
    margin: 25px;
}

#container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}


input[type=text] {
    width: 300px;
    padding: 10px 8px;
    border: 2px solid #FFA756;
    border-radius: 5px;
    font-family: Montserrat;
}

button {
    padding: 10px 8px;
    border: 2px solid #FFA756;
    background: #FFA756;
    border-radius: 5px;
    font-family: Montserrat;
    cursor: pointer;
}

.btn:hover {
    background: #c98342;
    border: 2px solid #c98342;
}

#info {
    background-color: transparent;
    border: 0px;
}

#gear {
    background-color: transparent;
    border: 0px;
}

i {
    font-size: 2em;
    color: #FFA756;
}

i:hover {
    color: #c98342;
}

#footerContainer {
    position: absolute;
    right: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(49, 49, 49);
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebarContent {
    padding-left: 2%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 15px;
}

#sidebarHeader {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 60px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(220, 220, 220);
    text-decoration: none;
}

li {
    color: rgb(220, 220, 220);
    padding: 5px 0px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgb(49, 49, 49);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

