@import url('https://fonts.googleapis.com/css?family=Nabla');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: #35654d
}   

h1 {
    font-family: 'Nabla';
    font-size: 80px;
    margin: 25px;
}

h2 {
    font-family: 'Nabla';
    font-size: 60px;
    margin: 25px;
}

#container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

input[type=text] {
    width: 300px;
    padding: 10px 8px;
    border: 2px solid #FFA756;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: Montserrat;
}

#player-name {
    width: 396px;
}

#room-id-input1 {
    width: 299px;
}

#room-id-input2 {
    width: 284px;
}

.btn {
    padding: 10px 8px;
    border: 2px solid #FFA756;
    background: #FFA756;
    border-radius: 5px;
    font-family: Montserrat;
    cursor: pointer;
}

#start-btn {
    font-size: 18px;
    margin-top: 50px;
}

.btn:hover {
    background: #c98342;
    border: 2px solid #c98342;
}

#info {
    position: absolute;
    background-color: transparent;
    border: 0px;
}

#gear {
    position: fixed;
    left: 50px;
    background-color: transparent;
    border: 0px;
}

i {
    font-size: 2em;
    color: #FFA756;
}

i:hover {
    color: #c98342;
}

#footerContainer {
    position: absolute;
    right: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(49, 49, 49);
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebarContent {
    padding-left: 2%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 15px;
}

#sidebarHeader {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 60px;
}

#modalContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    padding-right: 10px;
}

input[type=number] {
    padding: 4px 5px;
    border: 2px solid #FFA756;
    border-radius: 5px;
    font-family: Montserrat;
}

input[type=reset] {
    margin-left: 40%;
    margin-top: 50px;
}

select {
    padding: 2px 4px;
    border: 2px solid #FFA756;
    border-radius: 5px;
}

p {
    font-family: Montserrat;
    font-size: 20px;
    color: rgb(220, 220, 220)
}

p.admin-reminder {
    font-family: Montserrat;
    font-size: 15px;
    color: rgb(220, 220, 220)
}

a {
    text-decoration: none;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: rgb(220, 220, 220);
    text-decoration: none;
}

li {
    color: rgb(220, 220, 220);
    padding: 5px 0px;
    font-family: 'Montserrat';
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgb(49, 49, 49);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

#player-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 209px;
    background: rgb(25, 25, 25);
}

li.player-list-items {
    color: #000000;
    background: rgb(230, 230, 230);
    margin-top: 1px;
    text-align: center;
}

#item1 { grid-area: player_info; padding: 20px 0;}
#item2 { grid-area: turn; padding: 20px 0;}
#item3 { grid-area: next_up; padding: 20px 0;}
#item4 { grid-area: played_cards;}
#item5 { grid-area: leaderboard; padding: 20px 0;}
#item6 { grid-area: cards; }
#item7 { grid-area: got; padding: 20px 0;}
#item8 { grid-area: log; }

#grid-container {
    display: none;
    height: 96vh;  
    grid-template-areas: 
        'player_info turn turn turn turn next_up'
        'player_info played_cards played_cards played_cards played_cards next_up'
        'leaderboard played_cards played_cards played_cards played_cards log'
        'leaderboard cards cards cards cards got';
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 24% 24% 24% 24%;
    gap: 10px;
    padding: 10px;
    /* background-color: #0000FF; */
    justify-content: space-evenly;
}

.grid-item {
    padding: 0 0;
    font-size: 30px;
    /* background-color: #87CEEB; */
}

h3 {
    font-family: "Montserrat";
    text-align: center;
    margin: 5px;
}

h3#leaderboard-title {
    font-size: 30px;
}

#scoreboard-container {
    display: flex;
}

#scoreboard {
    /* background-color: #ff5c5c; */
    list-style: none;
    width: 75%;
    height: 50px;
    padding: 0;
    margin: 0;
    align-items: left;
}

li.scoreboard-names {
    background-color: rgba(25, 25, 25, 0.25);
    font-size: 22px;
    padding-left: 15px;
    height: 30px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
}

#scoreboard-values {
    /* background-color: #525252; */
    list-style: none;
    width: 25%;
    height: 50px;
    padding: 0;
    margin: 0;
    align-items: center;
}

li.scoreboard-values-values {
    background-color: rgba(0,0,0, 0.25);
    font-size: 22px;
    height: 30px;
    margin-bottom: 2px;
    text-align: center;
}

#player-info-container {
    display: flex;
}

#player-info-left {
    list-style: none;
    width: 60%;
    height: 50px;
    padding: 0;
    margin: 0;
    align-items: center;
}

li.player-info-names {
    background-color: rgba(25, 25, 25, 0.25);
    font-size: 22px;
    padding-left: 15px;
    height: 30px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
}

#player-info-right {
    list-style: none;
    width: 40%;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}

li.player-info-values {
    background-color: rgba(0,0,0, 0.25);
    font-size: 22px;
    height: 30px;
    margin-bottom: 2px;
    text-align: center;
}

#turn-container {
    display: flex;
    justify-content: center;
    max-height: 10px;
}

h3.turn-id {
    color: rgb(220, 220, 220);
    font-family: "Montserrat";
    font-size: 60px;
    margin: 0;
    padding: 0;
}

#got-container {
    display: flex;
}

#got-list-left {
    list-style: none;
    width: 150px;
    height: 50px;
    padding-left: 15px;
    margin: 0;
}

li.got-names {
    color: #000000;
}

#got-list-right {
    list-style: none;
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}

#next-container {
    align-items: center;
}

#next-list {
    display: inline-block;
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin: 0;
}

li.next-names {
    background-color: rgba(25, 25, 25, 0.25);
    font-size: 22px;
    text-align: center;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
}


/* #subgrid-container {
    display: grid;
    grid-template-areas: none;
    background-color: #ff0000;
    height: 100%;
    gap: 5px;
    padding: 10px;
    align-items: center;
} */

/* .subgrid-item {
    background-color: #35654d;
} */

#hand-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: #ff0000; */
}

.card-container {
    /* background-color: #ff6464; */
    margin: 2px;
    max-width: 6vw;
}

#card-img {
    transition: all 0.1s ease-in-out;
}

#card-img:hover {
    transform: scale(1.2);
}

#guess-container {
    display: none;
    position: absolute;
    width: 98%;
    top: 70%;
    text-align: center;
}

#played-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#played-card-container {
    width: 12%;
    margin: 5px;
}

#log-container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    /* white-space: nowrap; */
    overflow: hidden;
}

#log-list {
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.log-item {
    font-size: 18px;
    text-align: center;
}

#done-container {
    display: none;
    flex-direction: column;
    height: 96vh;
    align-items: center;
    justify-content: center;
}

#done-scoreboard-container {
    display: flex;
    width: 40%;
    margin-bottom: 10px;
}

#done-scoreboard {
    list-style: none;
    width: 75%;
    height: 50px;
    padding: 0;
    margin: 0;
}


#done-scoreboard-values {
    list-style: none;
    width: 25%;
    height: 50px;
    padding: 0;
    margin: 0;
}

#sneaky-move-container {
    display: none;
    position: absolute;
    left: 1640px;
    bottom: 80px;
}